:root {
  --ff-body: 'Poppins', sans-serif;

  --gutter: 0.5rem;
  --fs-H1: 4.5rem;
  --fs-H2: 2.75rem;
  --fs-H3: 2rem;
  --fs-H4: 2.125rem;
  --fs-H5: 1.5rem;
  --fs-H6: 1.25rem;
  --fs-body-1: 1rem;
  --fs-body-2: 0.875rem;
  --fs-caption: 0.75rem;
  --clr-primary-light: rgb(255, 255, 255);
  --clr-primary-dark: rgb(38, 38, 38);
  --fclr-primary-light: rgb(38, 38, 38);
  --fclr-primary-dark: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--clr-primary-light);
  font-family: var(--ff-body);
  font-size: var(--fs-body-1);
  line-height: 1.3;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  font-size: var(--fs-H1);
  font-weight: 600;
  line-height: 1.3;
}
h2 {
  font-size: var(--fs-H2);
  font-weight: 600;
}
p {
  font-size: var(--fs-body-1);
  font-weight: 300;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav {
  background-color: red;
  height: 10vh;
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
}
/* section {
  box-sizing: border-box;
} */
.resume {
  display: flex;
  flex-direction: column;

  margin: 5px;
}
.resume_year_role {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.resume_employername {
  font-size: var(--fs-H4);
  font-weight: 400;
}
.resume_position_title {
  font-size: var(--fs-H6);
  font-weight: 600;
}
@media (min-width: 40em) {
  :root {
    --fs-H1: 6rem;
    --fs-H2: 3.75rem;
    --fs-H3: 3rem;
    --fs-H4: 2.125rem;
    --fs-H5: 1.5rem;
    --fs-H6: 1.25rem;
    --fs-body-1: 1rem;
    --fs-body-2: 0.875rem;
    --fs-caption: 0.75rem;
  }
  .wrapper {
    grid-template-columns: repeat(12, 1fr);
  }
  .resume {
    grid-column-start: span 12;
  }
}
@media (min-width: 50em) {
  :root {
    --fs-H1: 6rem;
    --fs-H2: 3.75rem;
    --fs-H3: 3rem;
    --fs-H4: 2.125rem;
    --fs-H5: 1.5rem;
    --fs-H6: 1.25rem;
    --fs-body-1: 1rem;
    --fs-body-2: 0.875rem;
    --fs-caption: 0.75rem;
  }
}
/* 40 em = 640 px
50em = 960px */
